@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/Raleway.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbfbfb;
}